<main class="flex flex-col justify-center items-center min-h-full">
  <form
    class="flex flex-col gap-3 text-lg bg-gray-100 shadow-lg rounded-md p-4 max-w-[300px] w-screen mx-4"
    (submit)="onSubmit($event)"
  >
    <h1 class="text-center font-extrabold">Login</h1>
    <label for="email"> Email </label>
    <input
      id="email"
      class="border-gray-50 bg-gray-200 px-2 py-1 rounded-md border-solid border w-full"
      type="email"
      name="email"
      required
      value="testuser@gmail.com"
      minlength="3"
    />
    <label for="password"> Password</label>
    <div class="relative">
      <input
        id="password"
        class="border-gray-50 bg-gray-200 px-2 py-1 rounded-md border-solid border w-full"
        [type]="isShow ? 'password' : 'text'"
        name="password"
        required
        minlength="6"
        value="111111"
      />
      <button
        (click)="togglePasswordType($event)"
        class="absolute right-0 px-2 py-1 rounded-md"
      >
        Show
      </button>
    </div>

    <button
      [disabled]="signInLoading"
      mat-button
      class="!bg-blue-500 !text-white px-2 py-1 rounded-md mt-2"
      type="submit"
    >
      {{ signInLoading ? "Logging in ..." : "Login" }}
    </button>
  </form>
  <a class="my-4 hover:underline" href="/signup">Create Account</a>
</main>
<router-outlet />
