<main class="flex flex-col justify-center items-center min-h-full">
  <form
    class="flex flex-col gap-3 text-lg bg-gray-100 shadow-lg rounded-md p-4 max-w-[317px] w-screen mx-4"
    (submit)="onSubmit($event)"
  >
    <h1 class="text-center font-extrabold">Login</h1>
    <label for="email"> Email </label>
    <input
      id="email"
      class="border-gray-50 bg-gray-200 px-3 py-3 rounded-md border-solid border w-full"
      type="email"
      name="email"
      required
      value="testuser@gmail.com"
      minlength="3"
    />
    <label for="password"> Password</label>
    <div class="relative border-gray-50 bg-gray-200 px-3 py-3 rounded-md">
      <input
        autocomplete="off"
        placeholder="Enter Password"
        id="password"
        class="border-gray-50 focus:outline-none bg-gray-200 mr-1"
        [type]="isShow ? 'password' : 'text'"
        name="password"
        required
        minlength="6"
      />
      <button (click)="togglePasswordType($event)" class="h-full select-none">
        {{ isShow ? "Hide" : "Show" }}
      </button>
    </div>
    <button
      [disabled]="signInLoading"
      mat-button
      class="!bg-blue-500 !text-white px-2 py-1 rounded-md mt-2"
      type="submit"
    >
      {{ signInLoading ? "Logging in ..." : "Login" }}
    </button>
  </form>
  <a class="my-4 hover:underline" href="/signup">Create Account</a>
</main>
<router-outlet />
