/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scrollbar-gutter: stable;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
main {
    width: 100%;
    // min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    // padding-top: 80px;
    // padding-top: 150px;

    // height: 100dvh;
    // margin-top: 60px;

    min-height: 100dvh;
    padding-top: 100px;
}
nav > a {
    text-decoration: none;
    border-radius: 1rem;
    padding: 0.5rem;
    &:active {
        opacity: 0.8;
    }
    &:hover:not(.logo) {
        background-color: rgb(255 169 48 / 0.1);
        color: #ffa930;
    }
}
nav {
    a.active {
        color: #ffa930;
        &:hover {
            background-color: rgb(255 169 48 / 0.1);
            color: #ffa930;
        }
        &:active {
            opacity: 0.5;
        }
        background-color: rgb(255 169 48 / 0.1);
        color: #ffa930;
        // &:hover {
        //     background-color: #ffa930;
        //     color: white;
        // }
    }
}
