<main class="flex flex-col items-center !justify-normal">
  <nav
    class="fixed mx-auto p-4 items-center rounded-lg bottom-0 z-50 flex justify-between flex-wrap gap-4 min-h-[30px] bg-blue-100 shadow-lg w-screen"
  >
    <h2>Total $ {{ dataService.total$.value }}</h2>
    <h2>Favorite {{ dataService.myFavorite$.value.length }}</h2>
    <!-- <h4>User :{{ authService.currentUser$.value?.email }}</h4> -->
  </nav>
  <h4>User :{{ authService.currentUser$.value?.email }}</h4>
  <app-shop-cards></app-shop-cards>
</main>
